<div class="container" *ngIf="proy">
    <div class="row">
        <form (ngSubmit)="updateProy()" novalidate #f="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" id="nombreProy" name="nombreProy"
                    placeholder="Nombre del proyecto" [(ngModel)]="proy.nombreProy" required>
            </div>
            <div class="form-group">
                <textarea cols="40" rows="5" class="form-control" id="descripcionProy" name="descripcionProy"
                    placeholder="Escriba una breve descripción del proyecto" [(ngModel)]="proy.descripcionProy"
                    required></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>