<div class="row headerProy">
    <div class="col-lg-12">
        <img src="../../../../assets/tituloproy.png" alt="Proyectos">
        <button type="button" title="Agregar" class="btn btn-success" (click)="open(agregarProy)" *ngIf="isLogged">
            <i class="bi bi-plus"></i>
        </button>
    </div>
</div>

<ng-template #agregarProy let-modal>
    <app-new-proyecto></app-new-proyecto>
</ng-template>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr class="proy" *ngFor="let Proyecto of proyList">
                    <td class="tituloProy">
                        <h2>{{Proyecto.nombreProy}}</h2>
                    </td>
                    <td>
                        <h3>{{Proyecto.descripcionProy}}</h3>
                    </td>
                    <td class="btnsEditBorrar" *ngIf="isLogged">
                        <button type="button" class="btn btn-info" title="Editar" data-toggle="modal"
                            data-target="#modalEditProy" (click)="editProy(Proyecto)">
                            <i class="bi bi-pencil-square"></i>
                        </button>

                        <div class="modal fade" id="modalEditProy" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title text-center headerEdit" id="exampleModalLabel">Editar
                                            Proyecto</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            (click)="closeClick()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <app-edit-proyecto [proy]="proy" *ngIf="ActivateEditComp">
                                        </app-edit-proyecto>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-danger" title="Borrar" (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>