h2,
h3 {
    display: inline;
    color: aliceblue;
    padding: 10px;
}

.titulo {
    margin-right: 25px;
}

.headerProy {
    margin-top: 20px;
    padding: 10px;
}

.headerProy img {
    margin-inline-end: 20px;
    width: 350px;
}

table,
td {
    border: 0px none black;
    text-align: center;
}

.tituloProy {
    padding-left: 20px;
}

.btnsEditBorrar {
    text-align: right;
}

.btnsEditBorrar button {
    margin: 5px;
}

.headerEdit {
    color: black;
    font-weight: bold;
}

@media (max-width: 767px) {
    .table button {
        display: block;
    }
}

@media (max-width: 431px) {
    .headerProy img {
        margin-inline-end: 5px;
        width: 250px;
    }
}

@media (max-width: 316px) {
    .headerProy img {
        margin-inline-end: 5px;
        width: 200px;
    }
}