<div class="row headerProy">
    <div class="col-lg-12">
        <h1 class="titulo">Proyectos</h1>
        <button type="button" title="Agregar" class="btn btn-success" (click)="open(agregarProy)" *ngIf="isLogged">
            <i class="bi bi-plus"></i>
        </button>
    </div>
</div>

<ng-template #agregarProy let-modal>
    <app-new-proyecto></app-new-proyecto>
</ng-template>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proy">
                    <td class="tituloProy">
                        <h2>{{Proyecto.nombreProy}}</h2>
                    </td>
                    <td>
                        <h3>{{Proyecto.descripcionProy}}</h3>
                    </td>
                    <td class="edit" *ngIf="isLogged">
                        <button class="btn btn-info" title="Editar" routerLink="/editproy/{{Proyecto.id}}">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                    <td class="borrar" *ngIf="isLogged">
                        <button class="btn btn-danger" title="Borrar" (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>