.row{
    text-align: center;
}
#fotoPerfil{
    border-radius: 100%;
}
#nombreP{
    font-weight: bold;
}
#especialidad{
    font-style: italic;
}

@media (min-width: 992px){
    #fotoPerfil{
        position: absolute;
        left: 30px;
        top: -120px;
    }
    .nombrePersona {
        margin-top: 90px;
    }
    .descripcion {
        padding: 20px;
        padding-left: 40px;
    }
}

@media (max-width: 991px){
    .row{
        margin-top: -100px;
    }
    .nombrePersona {
        margin-top: 10px;
    }
    .descripcion {
        margin-top: 30px;
        padding: 10px;
    }
}