.row {
    text-align: center;
}

#fotoPerfil {
    border-radius: 100%;
}

#nombreP {
    font-weight: bold;
}

#especialidad {
    font-style: italic;
}

.btnEdit {
    text-align: right;
}

.headerEdit {
    color: black;
    font-weight: bold;
}

@media (min-width: 992px) {
    #fotoPerfil {
        width: 220px;
        margin-top: -150px;
    }

    .nombrePersona {
        margin-top: 20px;
    }

    .descripcion {
        padding: 20px;
        padding-left: 40px;
    }
}

@media (max-width: 991px) {
    #fotoPerfil {
        width: 220px;
        margin-top: -50px;
    }

    .row {
        margin-top: -100px;
    }

    .nombrePersona {
        margin-top: 10px;
    }

    .descripcion {
        margin-top: 30px;
        padding: 10px;
    }

    .btnEdit {
        position: relative;
        top: 110px;
    }
}

@media (max-width: 305px) {
    #fotoPerfil {
        width: 150px;
    }
}