<div class="container" *ngIf="educacion">
    <div class="row">
        <div>
            <div class="headerEdit text-center">
                <h1>Editar Educación</h1>
            </div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEd"><h2>Nombre de la institución</h2></label>
                    <input type="text" class="form-control" id="nombreEd" name="nombreEd" [(ngModel)]="educacion.nombreEd" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEd"><h2>Descripción</h2></label>
                    <textarea cols="40" rows="5" class="form-control" id="descripcionEd" name="descripcionEd" [(ngModel)]="educacion.descripcionEd" required></textarea>
                </div>
                <button class="btn btn-primary">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>