<div class="container" *ngIf="edu">
    <div class="row">
        <form (ngSubmit)="updateEdu()" novalidate #f="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" id="nombreEdu" name="nombreEdu"
                    placeholder="Nombre de la institución" [(ngModel)]="edu.nombreEd" required>
            </div>
            <div class="form-group">
                <textarea cols="40" rows="5" class="form-control" id="descripcionEdu" name="descripcionEdu"
                    placeholder="Escriba una breve descripción de la educación" [(ngModel)]="edu.descripcionEd"
                    required></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>