h2,
h3,
p {
    display: inline;
    color: aliceblue;
}

.titulo {
    margin-right: 25px;
}

.headerEducacion {
    margin-top: 20px;
    padding: 10px;
}

.headerEducacion img {
    margin-inline-end: 20px;
    width: 350px;
}

table,
td {
    border: 0px none black;
    text-align: center;
}

.tituloEdu {
    padding-left: 20px;
}

.btnsEditBorrar {
    text-align: right;
}

.btnsEditBorrar button {
    margin: 5px;
}

.headerEdit {
    color: black;
    font-weight: bold;
}

@media (max-width: 767px) {
    .table button {
        display: block;
    }
}

@media (max-width: 431px) {
    .headerEducacion img {
        margin-inline-end: 5px;
        width: 250px;
    }
}

@media (max-width: 316px) {
    .headerEducacion img {
        margin-inline-end: 5px;
        width: 200px;
    }
}