<div class="row headerEducacion">
    <div class="col-lg-12">
        <img src="../../../../assets/tituloedu.png" alt="Formación">
        <button type="button" title="Agregar" class="btn btn-success" (click)="open(agregarEd)" *ngIf="isLogged">
            <i class="bi bi-plus"></i>
        </button>
    </div>
</div>

<ng-template #agregarEd let-modal>
    <app-new-educacion></app-new-educacion>
</ng-template>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr class="edu" *ngFor="let Educacion of eduList">
                    <td class="tituloEdu">
                        <h2>{{Educacion.nombreEd}}</h2>
                    </td>
                    <td>
                        <h3>{{Educacion.descripcionEd}}</h3>
                    </td>
                    <td class="btnsEditBorrar" *ngIf="isLogged">
                        <button type="button" class="btn btn-info" title="Editar" data-toggle="modal"
                            data-target="#modalEditEdu" (click)="editEdu(Educacion)">
                            <i class="bi bi-pencil-square"></i>
                        </button>

                        <button class="btn btn-danger" title="Borrar" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modalEditEdu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center headerEdit" id="exampleModalLabel">Editar
                    Educación</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-edit-educacion [edu]="edu" *ngIf="ActivateEditComp">
                </app-edit-educacion>
            </div>
        </div>
    </div>
</div>