h1, h2, h3, p{
    display: inline;
    color: aliceblue;
}

.titulo{
    margin-right: 25px;
}

.headerEducacion{
    margin-top: 20px;
    border-bottom: 0pt;
    border-left: 0pt;
    border-right: 0pt;
    border-color: aliceblue;
    border-style: inset;
    padding: 10px;
}

table, td{
    border: 0px none black;
    text-align: center;
}

.tituloEdu{
    padding-left: 20px;
}

.edit, .borrar{
    text-align: right;
}

@media (max-width: 767px){
    .edit, .borrar{
        display: block;
    }
}