<div class="container wrapper">
    <div class="row">
        <div>
            <form novalidate #f="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" id="nombreEd" name="nombreEd" placeholder="Nombre de la institución" [(ngModel)]="nombreEd" required>
                </div>
                <div class="form-group">
                    <textarea cols="40" rows="5" class="form-control" id="descripcionEd" name="descripcionEd" placeholder="Escriba una breve descripción de la educación" [(ngModel)]="descripcionEd" required></textarea>
                </div>
                <div class="botones">
                    <button class="btn btn-primary" (click)="onCreate()">
                        Agregar Educación
                    </button>
                    <button class="btn btn-danger" (click)="cancel()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>