.container {
    background: linear-gradient(rgb(34, 27, 138), rgb(40, 125, 153));
    padding: 5px;
}

footer {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}