.row {
    align-items: center;
    background: linear-gradient(rgb(40, 125, 153), rgb(34, 27, 138));
}

.logoAP img {
    width: 100px;
}

button {
    margin-left: 20px;
}

.redes {
    text-align: right;
}

.redes img {
    width: 30px;
    margin: 3px;
}

@media (max-width: 575px) {
    .logoAP {
        text-align: center;
    }

    .redes {
        text-align: center;
        margin-bottom: 5px;
    }

    .redes img {
        margin-bottom: 7px;
    }
}

@media (max-width: 320px) {
    button {
        width: 180px;
    }
}