<nav>
    <div class="row">
        <div class="container">
            <div class="logoAP">
                <img src="../../../assets/AP.png" alt="Argentina Programa" id="imgAP">
            </div>
            <div class="redes">
                <a href=""><img src="../../../assets/facebook.png" alt="Facebook" id="imgFB" title="Facebook"></a>
                <a href=""><img src="../../../assets/instagram.png" alt="Instagram" id="imgIG" title="Instagram"></a>
                <a href=""><img src="../../../assets/github.png" alt="GitHub" id="imgGit" title="GitHub"></a>
                <a href=""><img src="../../../assets/linkedin.png" alt="LinkedIn" id="imgLinkedIn" title="LinkedIn"></a>
                <a href=""><img src="../../../assets/twitter.png" alt="Twitter" id="imgTwitter" title="Twitter"></a>
                <a href=""><img src="../../../assets/youtube.png" alt="Youtube" id="imgYT" title="YouTube"></a>
                
                <!-- Login -->
                <button type="button" class="btn btn-outline-light" (click)="open(login)" *ngIf="!isLogged">Ingresar</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
                
                <ng-template #login let-modal>
                  <app-login></app-login>
                </ng-template>

            </div>
        </div>
    </div>
</nav>