<div class="row">

    <div class="col-lg-12 headerExp">
        <h1 class="titulo">Experiencia Profesional</h1>
        <button type="button" title="Agregar" class="btn btn-success" (click)="open(agregarExp)" *ngIf="isLogged">
            <i class="bi bi-plus"></i>
        </button>

        <ng-template #agregarExp let-modal>
            <app-new-experiencia></app-new-experiencia>
        </ng-template>
    </div>

    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of exp">
                    <td>
                        <h2>{{Experiencia.nombreExp}}</h2>
                    </td>
                    <td>
                        <p>{{Experiencia.descripcionExp}}</p>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-info" title="Editar" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" title="Borrar" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>