<div class="container wrapper" *ngIf="hab">
    <div class="row">
        <form (ngSubmit)="updateHab()" novalidate #f="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" id="nombreHab" name="nombreHab"
                    placeholder="Nombre de la habilidad" [(ngModel)]="hab.nombreHab" required>
            </div>
            <div class="form-group text-center fw-bold porcentaje">
                <input type="range" class="form-range" min="0" max="100" step="5" id="porcentajeHab" value="hab.porcentajeHab"
                    name="porcentajeHab" oninput="this.nextElementSibling.value = this.value" [(ngModel)]="hab.porcentajeHab" required>
                <output>0</output><span>%</span>
            </div>
            <div class="text-center">
                <button class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>