<div class="row">
    <div class="col-lg-12 headerHab">
        <h1 class="titulo">Habilidades</h1>
        <button type="button" title="Agregar" class="btn btn-success" (click)="open(agregarHab)" *ngIf="isLogged">
            <i class="bi bi-plus"></i>
        </button>

        <ng-template #agregarHab let-modal>
            <app-new-habilidad></app-new-habilidad>
        </ng-template>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 habilidad" *ngFor="let Habilidad of hab">
        <circle-progress
            [showUnits]="true"
            [showSubtitle]="true"
            [titleColor]="'white'"
            [unitsColor]="'white'"
            [unitsFontSize]="'20'"
            [subtitle]="(Habilidad.nombreHab)"
            [subtitleColor]="'white'"
            [subtitleFontSize]="'20'"
            [percent]="(Habilidad.porcentajeHab)"
            [radius]="75"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'rgb(40, 125, 153)'"
            [innerStrokeColor]="'rgb(40, 125, 153)'"
            [animation]="true"
            [animationDuration]="800"
            [lazy]="true"
        ></circle-progress>

        <div>
            <button class="btn btn-info" title="Editar" routerLink="/edithab/{{Habilidad.id}}" *ngIf="isLogged">
                <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-danger" title="Borrar" (click)="delete(Habilidad.id)" *ngIf="isLogged">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
</div>