.titulo{
    margin-right: 25px;
    display: inline;
    color: aliceblue;
}

.headerHab{
    border-bottom: 0pt;
    border-left: 0pt;
    border-right: 0pt;
    border-color: aliceblue;
    border-style: inset;
    padding: 10px;
}

.habilidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}